<!DOCTYPE html>

<html>
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WPKQ9X6B2F"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-WPKQ9X6B2F');
    </script>

    <title>{{ dato['title'] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>
  <body>

    <br><br><br><br>
    <header>
      <div class="bar-flex">
        <div class="bar-log">
          <a href="/"><h1>Verdana</h1></a>
        </div>
      </div>
    </header>
    <div class="cuerpo">
      <div class="content">
        {{ contenido | safe }}
      </div>
    </div>
  </body>
</html>